Source: ddclient
Section: net
Priority: extra
Maintainer: Felix Kröger <felix.kroeger@gmx.de>
Build-Depends-Indep: debhelper (>=2.0.54)
Standards-Version: 3.5.6

Package: ddclient
Architecture: all
Depends: perl5, debconf (>= 0.5.0)
Description: Update dynamic IP address at DynDNS.org
 A perl based client to update your dynamic IP address at DynDNS.org
 (or other dynamic DNS services such as Hammernode, Zoneedit or
 EasyDNS), thus allowing you and others to use a fixed hostname
 (myhost.dyndns.org) to access your machine. This client supports both
 the dynamic and (near) static services, MX setting, and alternative
 host. It caches the
 address, and only attempts the update if the address actually changes.
 .
 For more information on DynDNS.org, see http://www.dyndns.org/.

