#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export QUILT_PATCHES=debian/patches

# set installation directory
DESTDIR=$(shell pwd)/debian/ddclient

build: build-stamp
build-stamp:	apply-patches
	dh_testdir
	touch build-stamp

apply-patches:
	-quilt push -a

unapply-patches:
	-quilt pop -a

clean:	unapply-patches
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -Rf .pc		# Remove quilt metadata

	# Add here commands to clean up after the build process.
	# Nothing is created or destroyed except the debian stuff

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -m 755 ddclient \
	  $(DESTDIR)/usr/sbin/ddclient
	install -o root -g root -m 755 debian/ip-up \
	  $(DESTDIR)/etc/ppp/ip-up.d/ddclient
	

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_installmenu
	dh_installinit
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
